body {
  margin: 0;
  padding: 0;
}
html,
body,
#map {
  height: 100%;
}

#legend {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1; /* Ensure it stays above map controls */
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
    max-height: 90vh;
    overflow-y: auto;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;
}

.color-box {
    width: 12px;
    height: 12px;
    border-radius: 50%; /* Circle to match map markers */
    margin: 0 8px;
    border: 1px solid #999;
}

.legend-item label {
    cursor: pointer;
}